Importar no Node-red.txt
[
    {
        "id": "2c3c891c8efb629e",
        "type": "tab",
        "label": "Mossoró",
        "disabled": false,
        "info": ""
    },
    {
        "id": "06e4b096f6deeb55",
        "type": "mqtt in",
        "z": "2c3c891c8efb629e",
        "name": "Umidade_Mossoro",
        "topic": "Umidade_Mossoro",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e48453a843691c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 700,
        "wires": [
            [
                "546e7940b447df48",
                "7ca50d1671909d35"
            ]
        ]
    },
    {
        "id": "8a6719bdca106587",
        "type": "mqtt in",
        "z": "2c3c891c8efb629e",
        "name": "Temperatura_Mossoro",
        "topic": "Temperatura_Mossoro",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e48453a843691c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 920,
        "wires": [
            [
                "4e9753ea67813fc3",
                "ba92705894bb42cc"
            ]
        ]
    },
    {
        "id": "546e7940b447df48",
        "type": "ui_gauge",
        "z": "2c3c891c8efb629e",
        "name": "Umidade",
        "group": "d0673dc9b57ec9ec",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ec0909",
            "#e6e600",
            "#28ea1a"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "4e9753ea67813fc3",
        "type": "ui_gauge",
        "z": "2c3c891c8efb629e",
        "name": "Temperatura",
        "group": "d0673dc9b57ec9ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 920,
        "wires": []
    },
    {
        "id": "7b96ced09c3864cb",
        "type": "ui_switch",
        "z": "2c3c891c8efb629e",
        "name": "Iluminacao",
        "label": "Iluminacão Botão Virtual:",
        "tooltip": "",
        "group": "7708444f6048b9ae",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Iluminacao",
        "topicType": "msg",
        "style": "",
        "onvalue": "Ligar",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Desligar",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "b570092cfdbfef00"
            ]
        ]
    },
    {
        "id": "942e8e248c0d316f",
        "type": "mqtt in",
        "z": "2c3c891c8efb629e",
        "name": "StatusIluminacao",
        "topic": "StatusIluminacao",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e48453a843691c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 440,
        "wires": [
            [
                "f88c45549eeb62e0"
            ]
        ]
    },
    {
        "id": "f88c45549eeb62e0",
        "type": "ui_text",
        "z": "2c3c891c8efb629e",
        "group": "4fb61480672ea71b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "StatusIluminacao",
        "label": "Status da Iluminação:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 440,
        "wires": [],
        "icon": "node-red/light.svg"
    },
    {
        "id": "7ca50d1671909d35",
        "type": "ui_chart",
        "z": "2c3c891c8efb629e",
        "name": "Umidade",
        "group": "f8a8ede296161807",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "ba92705894bb42cc",
        "type": "ui_chart",
        "z": "2c3c891c8efb629e",
        "name": "Temperatura",
        "group": "f8a8ede296161807",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "576040cb319d1fb2",
        "type": "mqtt in",
        "z": "2c3c891c8efb629e",
        "name": "IluminacaoManual",
        "topic": "IluminacaoManual",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e48453a843691c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "59f8849fb7105b8a"
            ]
        ]
    },
    {
        "id": "59f8849fb7105b8a",
        "type": "ui_text",
        "z": "2c3c891c8efb629e",
        "group": "4fb61480672ea71b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "IluminacaoManual",
        "label": "Iluminação Botão Físico:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "4a3dd6623db48d1a",
        "type": "mqtt in",
        "z": "2c3c891c8efb629e",
        "name": "IluminacaoBotao",
        "topic": "IluminacaoBotao",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e48453a843691c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "7b96ced09c3864cb"
            ]
        ]
    },
    {
        "id": "b570092cfdbfef00",
        "type": "mqtt out",
        "z": "2c3c891c8efb629e",
        "name": "Iluminacao",
        "topic": "Iluminacao",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e48453a843691c8",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "c6332fa5e8d16376",
        "type": "mqtt in",
        "z": "2c3c891c8efb629e",
        "name": "Distancia",
        "topic": "Distancia",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e48453a843691c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "b14ff9683653ec0d",
                "a9d69f9ac62472ca"
            ]
        ]
    },
    {
        "id": "b14ff9683653ec0d",
        "type": "ui_chart",
        "z": "2c3c891c8efb629e",
        "name": "Distancia",
        "group": "d0673dc9b57ec9ec",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Distância",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "2000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a9d69f9ac62472ca",
        "type": "ui_gauge",
        "z": "2c3c891c8efb629e",
        "name": "Distancia",
        "group": "d0673dc9b57ec9ec",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distância",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#b3001b",
            "#e6e600",
            "#2af50f"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "c2d375633dd37ea9",
        "type": "ui_spacer",
        "z": "2c3c891c8efb629e",
        "name": "spacer",
        "group": "c1307185995d0244",
        "order": 1,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "b1f0685cbf4ab151",
        "type": "ui_spacer",
        "z": "2c3c891c8efb629e",
        "name": "spacer",
        "group": "c1307185995d0244",
        "order": 1,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "7b924758df987b23",
        "type": "ui_spacer",
        "z": "2c3c891c8efb629e",
        "name": "spacer",
        "group": "c1307185995d0244",
        "order": 1,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "4e48453a843691c8",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d0673dc9b57ec9ec",
        "type": "ui_group",
        "name": "Sensores Mossoró",
        "tab": "9ac9ee1bad59c7c9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7708444f6048b9ae",
        "type": "ui_group",
        "name": "Atuadores",
        "tab": "9ac9ee1bad59c7c9",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fb61480672ea71b",
        "type": "ui_group",
        "name": "Notificações",
        "tab": "9ac9ee1bad59c7c9",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8a8ede296161807",
        "type": "ui_group",
        "name": "Histórico Mossoró",
        "tab": "9ac9ee1bad59c7c9",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1307185995d0244",
        "type": "ui_group",
        "name": "TempUmidade",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ac9ee1bad59c7c9",
        "type": "ui_tab",
        "name": "Automação Seminário Introdução à Engenharia",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]